header {
  text-align: center;
};
body {
  width: 50%;
  height: 50%;
  margin: center;
};
div {
  background-color: grey;
}
p {
  width: 800px;
  text-align: center;
};
 div {
     float: left;
     background-color: red;
     text-align: center;
     width: 25%;
};